<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PoorManDiner.Business.Properties.Settings.PoorManDinerConnectionString"
            connectionString="Data Source=LEXXON11-PC\LEXXON11SERVER;Initial Catalog=PoorManDiner;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>